
.carre1{
    height: 150px;
    width: 150px;
    background-color: teal;
}
.carre2{
    height: 150px;
    width: 150px;
    background-color: red;
}
.carre3{
    height: 150px;
    width: 150px;
    background-color: yellow;
}
.carre4{
    height: 150px;
    width: 150px;
    background-color: pink;
}

